.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(65, 116, 235);
  height: 5em;
  color: white;
}

.header-subcontainer {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-options-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-link {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1em;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header-link:hover {
  filter: brightness(1.2);
  background-color: black;
}

.header-user {
  cursor: pointer;
}
