.std-input {
  padding: 1em;
  max-width: 50%;
  border-radius: 5px;
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 50%;
  align-items: center;
  padding: 1.5em;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: white;
}

@media screen and (width > 1000px) {
  .search-bar-container {
    flex-direction: row;
  }
}

.std-b {
  padding: 1em;
  background-color: rgb(8, 158, 23);
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 800;
  cursor: pointer;
}

.std-b.red {
  background-color: red;
}

.std-b.orange {
  background-color: orange;
}

.std-b.blue {
  background-color: rgb(65, 116, 235);
}

.std-b.notimportant {
  border: 1px solid black;
  color: black;
  background-color: transparent;
}

.std-b:hover {
  filter: brightness(1.2);
}
